.botonera{
    flex: auto;
    margin: center;
    padding: center;

}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
{
    
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
}
