
.botonera1 
{
    display: grid; 
    border: 1px solid gray ;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px; 
    margin: 10%;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;

}
.botonera2
{
    display: flex; 
    border: 1px solid gray ;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px; 
    margin: 10%;
    list-style-type: none;
    justify-content: space-between;

}
.botonera3
{
    display: flex; 
    border: 1px solid gray ;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px; 
    margin: 10%;
    list-style-type: none;
    justify-content: space-between;

}
.botonera4
{
    display: flex; 
    flex-wrap: wrap;
    border: 1px solid gray ;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px; 
    margin: 10%;
    list-style-type: none;
    justify-content: space-between;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.PcCom{
    box-sizing: border-box;
    display: inline;

}
.PcCom{
    width: 100%;
    height: auto;
    display: flow-root;
    flex-wrap: wrap;
}
.PcCom{
    border: 1px solid gray ;
    width: 25% ;
    text-align: center;
    
}
.imagen{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: auto;
    display: inline;    
}
ul{
    display: flex;
    list-style-type: none;
    padding: 0%;
    margin: 0%;

}
ul li{
    background-color: gray;
}
.Articulosrelevantes
{
    margin: 10px;
    border: 1px solid black;
    padding: 0px 0px 0px 33%;
    
}

.articulosrecomendados
{
    display: flex;
    box-sizing: border-box ;

    padding-bottom: 50px;
    font-display: bottom ;
    font-size: 105x;
    list-style-type: none;
    


}
.articulo1
{
border: 1px solid black;
text-align: center;
}
.articulo2
{
    border: 1px solid black; 
    text-align: center;
}
.articulo3
{
    border: 1px solid black; 
    text-align: center;
    
}
.articulo4
{
    border: 1px solid black; 
    text-align: center;
}
.teinteresa{
    display: flex;
    box-sizing: border-box ;
    flex-wrap: calc(100% / 4);
    padding-bottom: 50px;
    font-display: bottom ;
    font-size: 105x;
    list-style-type: none;
    
}
