.botonera{
    flex: auto;
    margin: center;
    padding: center;

}
h1{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Mono', monospace;
}
.PcCom{
    box-sizing: border-box;

}
.PcCom{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.PcCom{
    border: 1px solid gray ;
    width: 25% ;
    text-align: center;
    
}
.PcCom img{
    width: 100%;
    height: auto;
}

